

<div class="d-flex justify-content-around jumbotron mt-2" style="background-color: antiquewhite;">

    <img [src]=photo.img  class="sizeCentralCard">
    <div class="ml-5" style="background-color: antiquewhite;"> 
        <div class="card styleCentralCard">
            <div class="card-body">
              <h5 class="card-title text-right styleNameCentralCard">{{ name  }}  {{ photo.name }}</h5>
              <p class="card-text text-right">{{ description }}  {{ photo.description }}</p>
            </div>
          </div>
    </div>

</div>
